<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Supermercado_el_Economico"
        tools:targetApi="31">
        <activity
            android:name=".Delivery.PedidosView"
            android:exported="false" />
        <activity
            android:name=".Shop.MapView"
            android:exported="false" />
        <activity
            android:name=".Shop.CustomerAddress"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registro_user"
            android:exported="false" />
        <activity
            android:name=".registro_token"
            android:exported="false" />
        <activity
            android:name=".Pantalla_Inicio"
            android:exported="true" />
        <activity
            android:name=".Pantalla_Nueva_Password"
            android:exported="false" />
        <activity
            android:name=".Restablecer_contra"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Pantalla_verificacion"
            android:exported="false" />
        <activity
            android:name=".Delivery.PerfilRepartidor"
            android:exported="true" />
        <activity
            android:name=".ActualizarPerfil"
            android:exported="true" />
        <activity
            android:name=".Pantalla_Panaderia"
            android:exported="true" />
        <activity
            android:name=".Pantalla_Frutas_Verduras"
            android:exported="true" />
        <activity
            android:name=".Pantalla_Carnes_res_Aves"
            android:exported="true" />
        <activity
            android:name=".Pantalla_Bebidas"
            android:exported="true"/>
        <activity
            android:name=".Home"
            android:exported="true"/>
        <activity
            android:name=".Delivery.HomeRepartidor"
            android:exported="true"/>
        <activity
            android:name=".MasVendidos"
            android:exported="true"/>
        <activity
            android:name=".Pantalla_Lacteos"
            android:exported="true" />
        <activity
            android:name=".DetallePedidoActivity"
            android:exported="true" />
        <activity
            android:name=".HistorialPedidoActivity"
            android:exported="true" />
        <activity
            android:name=".CarritoActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqa" />
    </application>

</manifest>